body{
	font-family: century gothic;
	background-color: #FAF5EF;
	margin: 0;
}

.content{
  width: 100%;
	margin: 0;
}

/* N A V I G A T I O N  B A R  S T Y L E */
.NavBar{
  margin-right: 40px;
}

ul {
  	list-style-type: none;
  	margin-top: 0;
  	padding: 0;
  	padding-top: 3px;
  	overflow: hidden;
  	background-color: #FAF5EF;
}

li.webname{
	font-family: Didot LT Std;
	font-weight: bold;
	letter-spacing: 5px; 
	font-size: 25px;
	float: left;
  margin: 0px 20px;
}

img.icon-navbar{
	width: 20px;
	height: 20px;
}

li {
	float: right;
	text-align: left;
}

li a, 

li a, .dropnav {
  	display: inline-block;
  	color: black;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
}

li a:hover, .dropdown:hover  .dropnav {
  	color: #F6B7B7;
}

li.dropdown  {
  	display: inline-block;
}

.dropChoose {
  	display: none;
  	position: absolute;
  	background-color: #white;
  	min-width: 220px;
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  	z-index: 1;
}

.dropChoose a {
  	color: black;
  	padding: 12px 16px;
  	text-decoration: none;
  	display: block;
  	text-align: left;
}

.dropChoose a:hover {
	color: black;
	background-color: #FBE2E2;}

.dropdown:hover  .dropChoose {
  	display: block;
}


/* F O O T E R */
.Footer{
  background-color: #F6B7B7;
  width: 100%;
  color: black;
  text-align: center;
  font-size: 15px;
  letter-spacing: 2px;
  margin-top: 100px;
  padding: 5px 0px;
}

.title-form{
  background-color: #FAF5EF;
  font-family: Century Gothic;
  text-align: center;
  letter-spacing: 4px;
  font-size: 22px;
  font-weight: 600;
}

.order-form{
  background-color: white;
  border: 1.5px solid #AAB7B8;
  border-radius: 10px;
  margin: auto;
  width: 35%;
  height: 930px;
  padding: 10px;
}

label{
  font-family: Century Gothic;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 2px;
  padding-left: 50px; 
  width: 100%;
}

input{
  font-family: Century Gothic;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 2px;
  margin-left: 70px;
}

.row-four input{
  margin-left: 50px;
  width: 80%;
  height: 60px;
  background-color: #FADBD8;
  border: 1px solid #FADBD8;
}

.row-seven input{
  margin-left: 50px;
  width: 80%;
  height: 40px;
  background-color: #FADBD8;
  border: 1px solid #FADBD8;
}

.row-eight input{
  margin-left: 50px;
  width: 80%;
  height: 40px;
  background-color: #FADBD8;
  border: 1px solid #FADBD8;
}

.row-one, .row-two, .row-three, .row-four, .row-five, .row-six, .row-seven, .row-eight, .row-nine, .row-ten{
  margin: 10px 0px;
}

.row-two input{
  margin-top: 10px;
}

.row-five input{
  margin-top: 10px;
}

.row-four input{
  margin-top: 8px;
}

.row-seven input{
  margin-top: 8px;
}

.row-eight input{
  margin-top: 8px;
}

.row-nine input{
  margin-top: 8px;
  margin-left: 50px;
}

.row-ten{
  margin-top: 50px;
  text-align: center;
  align-items: center;
}

.row-ten button{
  background-color: #F6B7B7;
  border: 1px solid #F6B7B7;
  border-radius: 30px;
  width: 60%;
  color: black;
  text-align: center;
  font-family: Century Gothic;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 5px
}

