*{
  box-sizing: border-box;
}

body{
  font-family: Century Gothic;
  background: #FAF5EF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1{
  font-size: 30px;
  color: #000000;
  letter-spacing: 2px;
  font-weight: 600;
  margin-top: -20px;
}

p{
  font-size: 20px;
  letter-spacing: 2px;
  margin: 10px 0 60px;
}

a{
  font-size: 18px;
  color: #000000;
  letter-spacing: 2px;
  text-decoration: none;
  margin: 15px 0;
}

.container{
  background: #FADBD8;
  position: relative;
  overflow: hidden;
  width: 1200px;
  height: 700px;
  max-width: 100%;
  letter-spacing: 2px;
}

.underlay-container form{
  background: #FADBD8;
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.underlay-container input{
  background: #FFFFFF;
  border: 1px solid #BFC9CA;
  padding: 13px 15px;
  margin: 10px 0;
  width: 100%;
}

.underlay-container label{
  background: #FADBD8;
  font-family: Century Gothic;
  letter-spacing: 2px;
  font-size: 15px;
  font-weight: 600;
}

button{
  border: 1px solid #F6B7B7;
  border-radius: 20px;
  background: #F6B7B7;
  font-family: Century Gothic;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #000000;
  padding: 12px 50px;
  width: 100%;
  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button .cover{
  background: #F6B7B7;
  border: 1px solid #F6B7B7;
  border-radius: 20px;
  font-family: Century Gothic;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #000000;
  padding: 12px 40px;
  width: 100%;
  transition: transform 80ms ease-in;
}

.cover button:active{
  transform: scale(0.95);
}

.cover button:focus{
  outline: none;
}

.underlay-container{
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in{
  left: 0;
  width: 50%;
  z-index: 2;
}

.sign-up{
  left: 0;
  width: 50%;
  z-index: 1;
  opacity: 0;
}

.overlay-container{
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
}

.overlay{
  background-image: url('signin-signup.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 10px;
  color: #FFFFFF;
  position: relative;
  left: -100%;
  height: 110%;
  width: 200%;
  top: -30px;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay h2{
  font-family: Century Gothic;
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 2px;
  color: #FFFFFF;
  margin: 0;
}

.overlay-panel{
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 40px;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;

}

.right{
  right: 0;
  transform: translateX(0);
}

.left{
  transform: translateX(-20%);
}

/*ANIMATION*/

/*MOVE SIGN UP TO RIGHT*/
.container.right-panel-active .sign-in{
  transform: translateX(100%);
}

/*MOVE OVERLAY TO LEFT*/
.container.right-panel-active .overlay-container{
  transform: translateX(-100%);
}

/*MOVE SIGN IN TO LEFT*/
.container.right-panel-active .sign-up{
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}

/*MOVE OVERLAY TO RIGHT*/
.container.right-panel-active .overlay{
  transform: translateX(50%);
}

.container.right-panel-active .left{
  transform: translateX(0);
}

.error{
    padding-bottom: 30px;
}

.error p{
  font-size: 15px;
  margin: 0;
}

.errors{
    padding-bottom: 50px;
}

.errors p{
  font-size: 15px;
  margin: 0;
}